ClientVkontakte/.gitignore
ClientVkontakte/.idea/.name
ClientVkontakte/.idea/compiler.xml
ClientVkontakte/.idea/copyright/profiles_settings.xml
ClientVkontakte/.idea/vcs.xml
ClientVkontakte/.idea/scopes/scope_settings.xml
ClientVkontakte/.idea/modules.xml
ClientVkontakte/.idea/misc.xml
ClientVkontakte/.idea/gradle.xml
ClientVkontakte/.idea/encodings.xml
